.container {
  background-color: blueviolet;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  height: auto;
  padding: 1em;
  color: white;
  margin: 1em 0;
}
.expense-price {
  border-radius: 10px;
  background-color: cornflowerblue;
  padding: 0.5em 1em;
}

.expense-date {
  display: flex;
  justify-content: space-between;
  width: 5%;
}
.changebtn {
  background-color: cornflowerblue;
  color: white;
  padding: 0.1em 0.2em;
  border-radius: 10px;
  border: unset;
  cursor: pointer;
}
