.container {
  background-color: blueviolet;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  height: auto;
  padding: 1em;
  color: white;
  margin: 1em 0;
}
.expense-price {
  border-radius: 10px;
  background-color: cornflowerblue;
  padding: 0.5em 1em;
}
.expense-title,
.expense-date {
  font-size: 1.5em;
  font-weight: bold;
}
.expense-date {
  display: flex;
  justify-content: space-between;
  width: 5%;
}
